$primary: #1a8cd8;
.light {
  .bg-body {
    background-color: rgb(255, 255, 255) !important;
  }

  .text-white {
    color: black !important;
  }
  .text-muted {
    color: black !important;
  }
  .bg-light {
    background-color: rgb(255, 255, 255) !important;
  }
  .bg-black {
    background-color: rgb(255, 255, 255) !important;
  }
}
// @import "../node_modules/bootstrap/scss/bootstrap";

@import "../src/assets/theme/variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../src/assets/theme/bootswatch";
